@import url(https://fonts.googleapis.com/css2?family=Lato:wght@300;

700&display=swap);@import url(https://fonts.googleapis.com/css?family=Nunito);*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* ----------  Global Styles  ---------- */

#app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #101010;
}

/* ----------  Main Section Styles  ---------- */

.container {
  display: flex;
  flex-direction: column;
  background: #ffffff;
}

@media screen and (min-width: 375px) and (max-width: 949px) {
  .container {
    width: 100vw;
  }
}

@media screen and (min-width: 950px) and (max-width: 1439px), (min-width: 1441px) {
  .container {
    width: 100vw;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (width: 1440px) {
  .container {
    flex-direction: row;
    width: 100vw;
  }
}

/* ----------  Post Styles  ---------- */

.post {
  margin: 5px 10px 0px;
}

@media screen and (min-width: 375px) and (max-width: 414px) {
  .post {
    width: auto;
    margin-left: 17px;
    margin-right: 18px;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 949px) {
  .post {
    width: 71%;
    max-width: 560px;
    margin: 25px auto;
  }
}

@media screen and (min-width: 950px) and (max-width: 1439px) {
  .post {
    width: 560px;
    margin-right: 4vw;
    margin-left: 4vw;
    margin-top: 76px;
    margin-bottom: 138px;
  }
}

@media only screen and (min-width: 1440px) {
  .post {
    height: 1464px;
    width: 560px;
    margin: 76px 70px 138px 267px;
  }
}

.post__heading {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  max-width: 655px;
}

@media screen and (min-width: 623px) and (max-width: 949px) {
  .post__heading {
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  .post__heading {
    font-size: 26px;
    line-height: 31px;
  }
}

.post__heading--h2 {
  height: 49px;
  font-size: 18px;
  line-height: 22px;
  margin-top: 31px;
  margin-bottom: 16px;
  text-align: left;
}

@media screen and (min-width: 769px) {
  .post__heading--h2 {
    height: 49px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.post__heading--h2--2 {
  margin-bottom: 14px;
  margin-top: 43px;
}

@media screen and (min-width: 769px) {
  .post__heading--h2--2 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}

.post__divider {
  width: 100%;
  margin-top: 27px;
}

@media only screen and (min-width: 950px) {
  .post__divider {
    width: 100%;
    margin-top: 16px;
  }
}

.post__p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 22px;
}

@media screen and (min-width: 1440px) {
  .post__p {
    margin-top: 24px;
  }
}

.post__p--marginb {
  margin-top: 0;
  margin-bottom: 18px;
}

.post__p--break {
  display: none;
}

@media screen and (min-width: 1440px) {
  .post__p--break {
    display: inline;
  }
}

.post__img {
  width: 100%;
  height: auto;
  margin-top: 28px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .post__img {
    margin-left: -10px;
    width: 100vw;
  }
}

@media screen and (width: 375px) {
  .post__img {
    width: 375px;
    margin-top: 25px;
    margin-left: -17px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .post__img {
    width: 100vw;
    margin-top: 25px;
    margin-left: -17px;
  }
}

@media screen and (min-width: 1440px) {
  .post__img {
    width: 560px;
    margin-top: 28px;
    margin-bottom: 21px;
    margin-left: 0;
  }
}

.post__section {
  margin-top: -8px;
}

/* ----------  Aside Styles  ---------- */

.aside {
  overflow: auto;
  background: #F5F5F5;
  height: 426px;
  width: auto;
  margin: 15px 10px;
}

@media screen and (width: 375px) {
  .aside {
    width: 340px;
    margin: 15px 18px 37px 17px;
  }
}

@media screen and (min-width: 376px) and (max-width: 414px) {
  .aside {
    width: auto;
    margin: 15px 18px 37px 17px;
  }
}

@media screen and (min-width: 415px) and (max-width: 949px) {
  .aside {
    max-width: 520px;
    width: 65vw;
    margin: 15px auto;
  }
}

@media screen and (min-width: 950px) and (max-width: 1439px) {
  .aside {
    height: 640px;
    max-width: 270px;
    margin-top: 154px;
    margin-right: 4vw;
    margin-left: 0;
  }
}

@media screen and (min-width: 1440px) {
  .aside {
    height: 640px;
    width: 270px;
    margin-top: 154px;
    margin-right: 0;
    margin-left: 0;
  }
}

.aside__btnwrapper {
  width: 80%;
  height: 50px;
  margin: 50px auto;
}

@media screen and (width: 375px) {
  .aside__btnwrapper {
    width: 283px;
    height: 50px;
    margin: 34px 28px 0 29px;
  }
}

@media screen and (min-width: 950px) {
  .aside__btnwrapper {
    width: 220px;
    height: 40px;
    margin: 50px 24px 0 26px;
  }
}

.aside__btn {
  cursor: pointer;
  background-image: linear-gradient(to right, #AC519C, #E5424F);
  width: 100%;
  height: 50px;
  border: none;
}

@media screen and (width: 375px) {
  .aside__btn {
    width: 283px;
    height: 50px;
  }
}

@media screen and (min-width: 950px) {
  .aside__btn {
    width: 220px;
    height: 40px;
  }
}

.aside__btntext {
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 375px) {
  .aside__btntext {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (min-width: 950px) {
  .aside__btntext {
    font-size: 15px;
    line-height: 18px;
  }
}

/* AsidePopup */

.modal {
  width: 355px;
  height: 272px;
  margin: 130px 9px 0 11px;
  background: #ffffff;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 500px) {
  .modal {
    width: 570px;
    height: 310px;
    margin-top: 322px;
  }
}

.modal__backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(38, 38, 38, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.modal__close {
  background-color: transparent;
  margin-top: -2px;
  width: 48px;
  height: 50px;
  background-image: url("/images/close.svg");
  position: absolute;
  right: 0;
  cursor: pointer;
  border: none;
}

.modal__progress {
  margin-top: 13px;
}

@media screen and (min-width: 1440px) {
  .modal__progress {
    display: none;
  }
}

.modal__progress--lg {
  display: none;
}

@media screen and (min-width: 1440px) {
  .modal__progress--lg {
    display: block;
    margin-top: 18px;
  }
}

.modal__heading {
  font-weight: bold;
  width: 319px;
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px;
}

@media screen and (min-width: 1440px) {
  .modal__heading {
    width: 440px;
    font-size: 23px;
    line-height: 28px;
    margin-top: 22px;
    text-align: center;
  }
}

.modal__highlight {
  color: #007A02;
}

.modal__form.invalid input {
  border: 1px solid #e51323;
  color: #e51323;
}

.modal__form {
  margin-top: 20px;
  display: relative;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .modal__form {
    width: 320px;
    height: 49px;
  }
}

@media screen and (min-width: 1440px) {
  .modal__form__margin {
    margin-top: 3px;
  }
}

.modal__form__hidden {
  display: none;
}

.modal__form__input {
  font-size: 16px;
  line-height: 19px;
}

.modal__form__input input::-webkit-input-placeholder {
  color: #828282;
  opacity: 1;
  font-size: 16px;
}

.modal__form__input input::-moz-placeholder {
  color: #828282;
  opacity: 1;
  font-size: 16px;
}

.modal__form__input input:-ms-input-placeholder {
  color: #828282;
  opacity: 1;
  font-size: 16px;
}

.modal__form__input input::-ms-input-placeholder {
  color: #828282;
  opacity: 1;
  font-size: 16px;
}

.modal__form__input input::placeholder {
  color: #828282;
  opacity: 1;
  font-size: 16px;
}

.modal__form__input input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal__form__input input:focus::-moz-placeholder {
  opacity: 0;
}

.modal__form__input input:focus:-ms-input-placeholder {
  opacity: 0;
}

.modal__form__input input:focus::-ms-input-placeholder {
  opacity: 0;
}

.modal__form__input input:focus::placeholder {
  opacity: 0;
}

.modal__form__.invalid input {
  border: 2px solid #e51323;
  color: #e51323;
}

.modal__form__pad {
  padding-top: 20px;
}

.modal__enter,
.modal__errmsg {
  font-size: 12px;
  line-height: 14px;
  position: absolute;
  margin-left: 12px;
  margin-top: 8px;
}

@media screen and (min-width: 1400px) {
  .modal__enter,
  .modal__errmsg {
    margin-left: 12px;
    margin-top: 12px;
  }
}

.modal__enter {
  color: #828282;
}

.modal__errmsg {
  color: #e51323;
}

.modal__input {
  box-shadow: inset 0px 1px 5px rgba(142, 142, 142, 0.5);
  color: #828282;
  font-weight: 300;
  width: 320px;
  height: 49px;
  font-size: 17px;
  line-height: 20px;
  padding-left: 11px;
  border: none;
}

@media screen and (min-width: 1440px) {
  .modal__input {
    width: 440px;
    height: 54px;
    font-size: 18px;
    line-height: 22px;
  }
}

.modal__btnwrapper {
  margin-top: 16px;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .modal__btnwrapper {
    margin-top: 21px;
  }
}

.modal__submit {
  cursor: pointer;
  background-image: linear-gradient(to right, #AC519C, #E5424F);
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  width: 320px;
  height: 45px;
}

@media screen and (min-width: 1440px) {
  .modal__submit {
    width: 440px;
    height: 48px;
  }
}

.modal__submit:hover {
  background-image: linear-gradient(to right, #B678AA 1.29%, #E28990);
}

.modal__fade-enter,
.modal__fade-leave-to {
  opacity: 0;
}

.modal__fade-enter-active,
.modal__fade-leave-active {
  transition: opacity 0.5s ease;
}

.modal__input:focus {
  padding-top: 20px;
}

